.footer {
  position: relative;
  background: #28282d;
  box-shadow: 0 0 0.4rem rgba(255, 255, 255, 0.2);
  padding: 20px 40px;
  margin: 20px 30px;
  border-radius: 5px;
  color: #efef;
  direction: ltr;
  z-index: 1;
}

.footer h2 {
  user-select: none;
}

.footer .box {
  direction: rtl;
  margin-bottom: 1rem;
}

.footer .box:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
}

.footer .developer-context {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "bt-1 bt-2 bt-3"
    "bt-4 bt-5 bt-6"
  ;

  width: 150px;
  height: 50px;
}

.footer .hover {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  cursor: pointer;
}

.footer .hover:hover~a.developer-info::before {
  content: 'Eng. Mohamed Mokhtar';
  position: absolute;
  transform: translateY(-40px);
  display: block;
  width: 230px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  text-shadow: -2px -2px #28282d;
}

.footer .bt-1 {
  grid-area: bt-1;
}

.footer .bt-1:hover~a.developer-info {
  transform: rotateX(-15deg) rotateY(-15deg) rotateZ(0deg);
  box-shadow: -2px -2px #28282d;
}

.footer .bt-2 {
  grid-area: bt-2;
}

.footer .bt-3 {
  grid-area: bt-3;
}

.footer .bt-3:hover~a.developer-info {
  transform: rotateX(-15deg) rotateY(15deg) rotateZ(0deg);
  box-shadow: -2px -2px #28282d;
}

.footer .bt-4 {
  grid-area: bt-4;
}

.footer .bt-4:hover~a.developer-info {
  transform: rotateX(-15deg) rotateY(15deg) rotateZ(0deg);
  box-shadow: -2px -2px #28282d;
}

.footer .bt-5 {
  grid-area: bt-5;
}

.footer .bt-6 {
  grid-area: bt-6;
}

.footer .bt-6:hover~a.developer-info {
  transform: rotateX(-15deg) rotateY(-15deg) rotateZ(0deg);
  box-shadow: -2px -2px #28282d;
}

.footer a.developer-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  background: var(--main-color);
  color: #efef;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  transition: all .3s ease-in-out;
}

.footer a.developer-info::before {
  content: "Developer Info";
  transition: all .3s ease-in-out;
}

.footer a img {
  border: var(--secondary-color) 3px solid;

  border-radius: 50%;
  outline: #000 6px solid;
  outline-offset: -3px;
}

.footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0;
  padding: 0;
  margin-top: 1rem;
}

.footer ul a {
  background: none;
  padding: 0;
  margin: 0;
  display: block;
  color: #efef;
  font-size: 1.3rem;
}

.footer ul a.active {
  color: var(--secondary-color);
  font-weight: 600;
}

.footer .social-icons {
  gap: 1rem;
}

.footer .social-icons a {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: start;
  align-items: center;
}

.footer p {
  font-size: 20px;
}